/*MAIN 1 S.*/
body{
	margin: 0;
}
.c{
			height: 35px;
			width:100%;
			background-color: black;
			color:white;
		}
		.ml2{
			margin-left: 190px;
		}
		.mt3{
			margin-top:5px;
		}
		.f1{
			float: left;
		}
		.txt{
			color:white;
		}
		.top{
			height:100px;
			width:100%;
			
		}
		.box{
			height:80px;
			width: 30%;
		}
		.ml{
			margin-left: 200px;
		}
		.box1{
			height:80px;
			width:70%;
			color:black;
			font-size:14px;
		}
		.box2{
			height:100px;
			width:100%;
			color:#f75656;;
		}
		.mt1{
			margin-top:33px;
		}
		.ml1{
			margin-left: 30px;
		}
		.mt2{
			margin-top:26px;
		}
		.tc{
			color: black;
		}
		.tc:hover{
			color: #f75656;
			transition: 0.5s;
		}
		.main{
			height: 100px;
			width: 100%;
			background-color: black;
		}
		.div102{
			height: 35px;
			width: 15%;
			background-color: white;
			box-shadow: 0px 0px 7px #afadb059;
		}
/*MAIN 1 S*/

/*main 2 s*/
.main21{
	height: 760px;
	width: 100%;
	
}
.div81{
	height: 760px;
	width: 40%;
	margin-left: 10%;
}
.log{
	color: black;
	font-size: 22px;

}
.ff{
	font-size: 19px;
	color: #666;

}
.bx{
	height: 35px;
	width: 99%;
	color: #666; 
	margin-top: 8px;
	margin-bottom: 14px;
}
.btn{
	height: 50px;
	width:80px;
	background-color: #f75656;
	color: white; 
	border: none;
	border-radius: 5px;
	font-size: 15px;
	transition: 0.5s;
}
.btn:hover{
	height: 50px;
	width:80px;
	background-color:#eb7979;
	color: white; 
	border: none;
	border-radius: 5px;
	font-size: 15px;
	transition: 0.5s;
}
.check{
	font-size: 19px;
	color:  #666;
	margin-top: 13px;
	margin-left: 2px;
}

.pp{
	color: #666;
	font-size: 19px;
	margin-top: 80px;
	margin-left: -211px;
	transition: 0.5s;
}
.pp:hover{
	color: #f75656;
	font-size: 19px;
	margin-top: 80px;
	margin-left: -211px;
	transition: 0.5s;
}
.div82{
	height: 760px;
	width: 40%;
	margin-left: 20px;
}
.btn1{
	height: 50px;
	width:90px;
	background-color: #f75656;
	color: white; 
	border: none;
	border-radius: 5px;
	font-size: 15px;
	transition: 0.5s;
}
.btn1:hover{
	height: 50px;
	width:90px;
	background-color:#eb7979;
	color: white; 
	border: none;
	border-radius: 5px;
	font-size: 15px;
	transition: 0.5s;
}



/*main 2 e*/

/*main 3 s*/
.main11{
	height:870px;
	width:100%;
	background-image: url(images/footerbg.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.bss8{

    height:870px;
	width: 100%;
    background-image: linear-gradient(#161515b0, #000000e3);
}
.div52{
	height: 60px;
	width: 100%;

}
.div53{
	width: 240px;
	border-bottom: 1px solid #777;
}
.div54{
	height: 690px;
	width: 80%;
	margin-left: 10%;
}

.div55{
	height: 205px;
	width: 100%;
	margin-top: 2px;
}
.div56{
	height: 205px;
	width: 16%;
	background-image: url(images/footer2.jpg);
	background-size: cover;
	background-position: center;
	margin-left: 26px;
}
.div57{
	height: 205px;
	width: 16%;
	background-image: url(images/footer1.jpg);
	background-size: cover;
	background-position: center;
}
.div58{
	height: 205px;
	width: 16%;
	background-image: url(images/footer3.jpg);
	background-size: cover;
	background-position: center;
}
.div59{
	height: 205px;
	width: 16%;
	background-image: url(images/footer4.jpg);
	background-size: cover;
	background-position: center;
}
.div60{
	height: 205px;
	width: 16%;
	background-image: url(images/footer2.jpg);
	background-size: cover;
	background-position: center;
}
.div61{
	height: 205px;
	width: 16%;
	background-image: url(images/footer3.jpg);
	background-size: cover;
	background-position: center;
}
.div62{
	height: 350px;
	width: 100%;
	margin-top: 30px;
}
.div63{
	height: 320px;
	width: 31%;
	margin-left: 26px;
}
.div64{
	color:#c4c4c4;
	font-size: 18px;
}
.icon2{
	color: white;
	transition: 1s;
	margin-top: 134px;
	font-size: 18px;
}
.icon2:hover{
	color: #f75656;
	transition: 1s;
	margin-top: 134px;
	font-size: 18px;
}
.div65{
	height: 320px;
	width: 15%;
	margin-left: 14px;
}
.icon3{
	color: #c4c4c4;
	font-size: 18px;
	transition: 1s;
}
.icon3:hover{
	color: white;
	font-size: 18px;
	transition: 1s;
}
.div66{
	height: 320px;
	width: 15%;
	margin-left: 10px;
}

.div67{
	height: 320px;
	width: 33%;
	margin-left: 12px;
}
.box12{
	height: 32px;
	width: 11%;
	background-color: #ed3030;
}

.div68{
	width: 37%;
	
}
/*main 3 e*/