/*main s*/
body{
	margin: 0;
}
	.c{
			height: 35px;
			width:100%;
			background-color: black;
			color:white;
		}
		.ml2{
			margin-left: 190px;
		}
		.mt3{
			margin-top:5px;
		}
		.f1{
			float: left;
		}
		.txt{
			color:white;
		}
		.top{
			height:100px;
			width:100%;
			
		}
		.box{
			height:80px;
			width: 30%;
		}
		.ml{
			margin-left: 200px;
		}
		.box1{
			height:80px;
			width:70%;
			color:black;
			font-size:14px;
		}
		.box2{
			height:100px;
			width:100%;
			color:#f75656;;
		}
		.mt1{
			margin-top:33px;
		}
		.ml1{
			margin-left: 30px;
		}
		.mt2{
			margin-top:26px;
		}
		.tc{
			color: black;
		}
		.tc:hover{
			color: #f75656;
			transition: 0.5s;
		}
		.main{
			height: 100px;
			width: 100%;
			background-color: black;
		}
		.div104{
			height: 35px;
			width: 17%;
			background-color: white;
			box-shadow: 0px 0px 7px #afadb059;
		}
/*main e*/

/*main1 s*/

.main21{
	height: 520px;
	width: 82%;
	/*background-color: skyblue;*/
	margin-left: 10%;
}
.div201{
	height: 500px;
	width: 40%;
	/*background-color: yellow;*/
}
.bttn1{
	height: 30px;
	width: 70px;
	background-color: #3d9ddf;
	color: white;
	margin-top: 155px;
	border: none;
	transition: 0.5s;
	cursor: pointer;
}
.bttn1:hover{
	height: 30px;
	width: 70px;
	background-color: #333;
	color: white;
	margin-top: 155px;
	border: none;
	transition: 0.5s;
	cursor: pointer;
}
.h1{
	margin-top: 220px;
	font-size: 47px;
}
.i{
	height: 35px;
	width: 450px;

	margin-top: -11px;
	color: #555;
	font-size: 18px;
	padding-bottom: 5px;
}
.ii{
	color:  #555;
	margin-left: 5px;
	transition: 0.5s;
}
.ii:hover{
	color: #f75656;
	margin-left: 5px;
	transition: 0.5s;
}
.div202{
	height: 500px;
	width: 60%;
	/*background-color: yellow;*/

}
.imgg{
	height: 470px;
	width: 93%;
	background-image: url(images/pd2.jpg);
	background-position: center;
	background-size: cover;
	margin-left: 5%;
}
.main2{
	height: 3000px;
	width: 55%;
	/*background-color: pink;*/
	margin-left: 10%;
	margin-top: 4px;

}
.div203{
	height: 99px;
	width: 100%;
	/*margin-top: 10px;*/
}
.div204{
	height: 99px;
	width:13%;
	/*background-color: gray;*/

}
.div205{
	height: 99px;
	width: 87%;
	
}
.font{
	font-size: 22px;
	color: #555;
}
.div206{
	height: 120px;
	width: 98%;
	/*background-color: yellow;*/
	font-size: 22px;
	margin-left: 13px;
	color: #555;
}
.imgg1{
	height: 500px;
	width: 98%;
	background-image: url(images/trending1.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 140px;
	margin-left: 10px;
}
.div207{
	height: 175px;
	width: 98%;
	/*background-color: yellow;*/
	margin-left: 10px;
	margin-top: 8px;
}
.imgg2{
	height: 170px;
	width: 100%;
	background-image: url(images/pd2.jpg);
	background-size: cover;
	background-position: center;
}
.bss3{
	height: 170px;
    width: 100%;
    background-image: linear-gradient(#1c1c1e8f, #3e3a396b);

}
.p2{
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: 49px;
}

.brr{
	width: 100%;
	height: 5px;

}
.div208{
	height: 332px;
	width: 98%;
	/*background-color: yellow;*/
	margin-left: 10px;
	margin-top: 8px;
}
.div209{
	height: 188px;
	width: 100%;
	/*background-color: skyblue;*/

}
.div210{
	height: 180px;
	width: 17%;
	/*background-color: gray;*/
}
.imgg3{
	height: 130px;
	width: 93%;
	border-radius:100px;
	background-image: url(images/profile1.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 10px;
	margin-left: 10px;
}
.div211{
	height: 180px;
	width: 81%;
	/*background-color: green;*/
	margin-left: 10px;
}
.ic{
	color:#555;
	transition: 0.5s;
}
.ic:hover{
	color: #f75656;
	transition: 0.5s;
}
.co{
	color: #555;
}
.f{
	font-size: 19px;
}
.div212{
	height: 43px;
	width: 100%;
	/*background-color: green;*/
	margin-top: 10px;
}
.div213{
	height: 43px;
	width: 34%;
	/*background-color: skyblue;*/
}
.btt{
	height: 43px;
	width: 100%;
	background-color: #1c3a78;
	border:none;
	font-size: 15px;
	color: white;
	cursor: pointer;
}
.btt:hover{
	height: 43px;
	width: 100%;
	background-color: #333;
	border:none;
	font-size: 15px;
	color: white;
	cursor: pointer;
}
.div214{
	height: 43px;
	width: 32%;
	/*background-color: red;*/
	cursor: text;
}
.div215{
	height: 43px;
	width: 34%;
	/*background-color: skyblue;*/
}
.btt1{
	height: 43px;
	width: 100%;
	background-color: #006dbf;
	border:none;
	font-size: 15px;
	color: white;
	cursor: pointer;
}
.btt1:hover{
	height: 43px;
	width: 100%;
	background-color: #1c3a78;
	border:none;
	font-size: 15px;
	color: white;
	cursor: pointer;
}
.div216{
	height: 40px;
	width: 42%;
	/*background-color: blue;*/
	margin-top: 15px;
	margin-left: 29%;
}
.bx11{
	height: 27px;
	width: 71px;
	background-color: white;
	border:1px solid #a3a3a3;
	cursor: pointer;
	font-size: 16px;
}
.bx12{
	height: 28px;
	width: 111px;
	background-color: white;
	border:1px solid #a3a3a3;
	cursor: pointer;
	font-size: 16px;
	margin-left: 4px;
}
.co{
	color: #a3a3a3;
	transition: 0.5s;
}
.co:hover{
	color:#333;
	transition: 0.5s;
}
.bx13{
	height: 28px;
	width: 75px;
	background-color: white;
	border:1px solid #a3a3a3;
	cursor: pointer;
	font-size: 16px;
	margin-left: 4px;
}
.bx14{
	height: 28px;
	width: 75px;
	background-color: white;
	border:1px solid #a3a3a3;
	cursor: pointer;
	font-size: 16px;
	margin-left: 4px;
}
.div217{
	height: 849px;
	width: 100%;
	/*background-color:green;*/

}
.div218{
	height: 280px;
	width: 99.7%;
	/*background-color: skyblue;*/
	border:1px solid #f1f1f1;
	margin-top: 15px;
}
.div219{
	height: 260px;
	width: 10%;
	margin-top: 10px;
	margin-left: 3%;
	/*background-color: green;*/
}
.imgg4{
	height: 62px;
	width: 61px;
	background-image: url(images/author.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 100px;
}
.div220{
	height: 260px;
	width: 82%;
	margin-top: 10px;

	
}
.div221{
	height: 35px;
	width: 50%;
	/*background-color: red;*/
	margin-bottom: 10px;
}
.div222{
	height: 35px;
	width: 50%;
	/*background-color: blue;*/
	margin-bottom: 10px;
}
.btt2{
	height: 40px;
	width: 81px;
	border-radius: 26px;
	border:1px solid #f1f1f1;
	color: #f75656;
	font-size: 15px;
	background-color: white;
	transition: 0.5s;
}
.btt2:hover{
	height: 40px;
	width: 81px;
	border-radius: 26px;
	border:1px solid #f75656;
	color: white;
	font-size: 15px;
	background-color:#f75656; 
	transition: 0.5s;
}
.div223{
	height: 57px;
	width: 100%;
	/*background-color: green;*/
}
.div224{
	height: 50px;
	width: 13%;
	/*background-color: red;*/
	margin-top: 5px;
}
.div225{
	height: 214px;
	width: 90.8%;
	/*background-color: pink;*/
	border:1px solid #f1f1f1;
	margin-top: 25px;
	margin-left: 9%;
;
}
.div226{
	height: 213px;
	width: 10%;
	/*background-color: yellow;*/
}
.div227{
	height: 203px;
	width: 87%;
	/*background-color: gray;*/
	margin-left: 2%;
	margin-top: 10px;
}
.div228{
	height: 600px;
	width: 100%;
	/*background-color:yellow;*/

}
.div229{
	height: 58px;
	width: 100%;
	/*background-color: black;*/
	margin-top: 18px;
}
.div230{
	height: 58px;
	width:17%;
	/*background-color: red;*/
}
.sp{
	font-size: 18px;
	color: #666;
}
.txt1{
	height: 180px;
	width: 99%;
}
.div231{
	height: 90px;
	width: 48%;
	/*background-color: blue;*/
	margin-top: 7px;
}
.bxx21{
	height: 35px;
	width: 98%;

}
.div232{
	height: 90px;
	width: 49%;
	/*background-color: red;*/
	margin-top: 7px;
	margin-left: 20px;
}
.bxx22{
	height: 35px;
	width: 98.2%;

}
.btt3{
	height: 47px;
	width: 174px;
	border-radius: 26px;
	border:1px solid #f75656;
	color: #f75656;
	font-size: 16px;
	background-color: white;
	transition: 0.5s;
	margin-top: 20px;
}
.btt3:hover{
	height: 47px;
	width: 174px;
	border-radius: 26px;
	border:1px solid #f75656;
	color: white;
	font-size: 16px;
	background-color:#f75656; 
	transition: 0.5s;
	margin-top: 20px;
}

/*main 2 s*/

/*main 3 s*/

.main3{
	height: 3000px;
	width: 25%;
	/*background-color: pink;*/
	margin-left: 1%;
	margin-top: 2px;
}
.div233{
	height: 380px;
	width: 96%;
	/*background-color: green;*/
	margin-left: 7px;
	margin-top: 5px;
	border: 1px solid #f1f1f1;
    box-shadow: 0px 0px 8px #bbc37b63;
}
.col{
	color: #444;
	font-size: 22px;
	margin-left: 14px;
	
}

.div234{
	height:150px;
	width: 50%;
	/*background-color: red;*/
	margin-top: -13px;
}	
.imgg5{
	height:140px;
	width: 70%;
	background-image:url(images/profile1.jpg);
	background-position: center;
	background-size: cover;
	margin-top: 2px;
	border-radius: 0px 35px;
}
.pp{
	margin-bottom: 15px;
    color: #555;
    font-size: 18px;
    margin-top: 33px;
    margin-left: 25px;
}
.div235{
	height: 335px;
	width: 96%;
	/*background-color: green;*/
	margin-left: 7px;
	margin-top: 20px;
	border: 1px solid #f1f1f1;
    box-shadow: 0px 0px  8px #bbc37b63;
}
.coll{
	color: #303e4b;
	transition: 0.5s;
}
.coll:hover{
	color: #f75656;
	transition: 0.5s;
}
.div236{
	height: 335px;
	width: 96%;
	/*background-color: yellow;*/
	margin-left: 7px;
	margin-top: 10px;
	
    
}
.div237{
	height: 490px;
	width: 96%;
	/*background-color: green;*/
	margin-left: 7px;
	margin-top: 20px;
	border: 1px solid #f1f1f1;
    box-shadow: 0px 0px  8px #bbc37b63;
}
.div238{
	height: 420px;
	width: 23%;
	/*background-color: yellow;*/
	margin-left: 14px;
	margin-top: -11px;
}
.imgg6{
	height: 92px;
	width: 87px;
	background-image: url(images/profile1.jpg);
	background-position: center;
	background-size: cover;
}
.imgg7{
	height: 92px;
	width: 87px;
	background-image: url(images/recent2.jpg);
	background-position: center;
	background-size: cover;
	margin-top: 13px;
}
.imgg8{
	height: 92px;
	width: 87px;
	background-image: url(images/recent1.jpg);
	background-position: center;
	background-size: cover;
	margin-top: 13px;
}
.imgg9{
	height: 92px;
	width: 87px;
	background-image: url(images/recent2.jpg);
	background-position: center;
	background-size: cover;
	margin-top: 13px;
}
.div239{
	height: 420px;
	width: 67%;
	/*background-color: pink;*/
	margin-top: -11px;
	margin-left: 15px;
}
.div240{
	height: 92px;
	width: 100%;
	/*background-color: yellow;*/
}
.but{
	height: 32px;
	width: 65px;
	background-color: #3d9ddf;
	color: white;
	font-size: 14px;
	text-align: center;
	border: none;
	transition: 1s;
}
.but:hover{
	height: 32px;
	width: 65px;
	background-color: #333;
	color: white;
	font-size: 14px;
	text-align: center;
	border: none;
	transition: 1s;
}
.co2{
	color: #303e4b;
	font-size: 20px;
	margin-top: 8px;
	transition: 0.5s;
	margin-bottom: 10px;
}
.co2:hover{
	color: #f75656;
	font-size: 20px;
	margin-top: 8px;
	transition: 0.5s;
	margin-bottom: 10px;
}
.ccc6{
	width: 100%;
	color: #555;
	font-size: 15px;
	transition: 1s;
		
}
.ccc6:hover{
	width: 100%;
	color:#f75656;
	font-size: 15px;
	transition: 1s;
		
}
.ccc7{
	width: 100%;
	color: #555;
	font-size: 15px;
	transition: 1s;
		
}
.div241{
	height: 92px;
	width: 100%;
	/*background-color: yellow;*/
	margin-top: 13px;
}
.div242{
	height: 92px;
	width: 100%;
	/*background-color: yellow;*/
	margin-top: 13px;
}
.div243{
	height: 92px;
	width: 100%;
	/*background-color: yellow;*/
	margin-top: 13px;
}
.but1{
	height: 32px;
	width: 65px;
	background-color: #e36493;
	color: white;
	font-size: 14px;
	text-align: center;
	border: none;
	transition: 1s;
}
.but1:hover{
	height: 32px;
	width: 65px;
	background-color: #333;
	color: white;
	font-size: 14px;
	text-align: center;
	border: none;
	transition: 1s;
}
.but2{
	height: 32px;
	width: 69px;
	background-color: #69b74f;
	color: white;
	font-size: 14px;
	text-align: center;
	border: none;
	transition: 1s;
}
.but2:hover{
	height: 32px;
	width: 69px;
	background-color: #333;
	color: white;
	font-size: 14px;
	text-align: center;
	border: none;
	transition: 1s;
}
.div244{
	height: 390px;
	width: 96%;
	/*background-color: green;*/
	margin-left: 7px;
	margin-top: 20px;
	border: 1px solid #f1f1f1;
    box-shadow: 0px 0px  8px #bbc37b63;
}
.imgg10{
	height: 315px;
	width: 93%;
	background-image: url(images/footer1.jpg);
	background-position: center;
	background-size: cover;
	margin-left: 14px;
	margin-top: -9px;
}
.div245{
	height: 470px;
	width: 96%;
	/*background-color: green;*/
	margin-left: 7px;
	margin-top: 20px;
	border: 1px solid #f1f1f1;
    box-shadow: 0px 0px  8px #bbc37b63;
}
.div246{
	height: 85px;
	width: 93%;
	margin-left: 14px;
	margin-top: -7px;
	/*background-color: yellow;*/
}
.div247{
	height: 85px;
	width: 15%;
	/*background-color: pink;*/
}
.div248{
	height: 85px;
	width: 82%;
	/*background-color: gray;*/
	margin-left: 10px;
}
.cou{
	color: #f75656;
	font-size: 24px;
}
.coul{
	color: #303e4b;
	font-size: 20px;
	transition: 0.5s;
	margin-top: 3px;
}
.coul:hover{
	color: #f75656;
	font-size: 20px;
	transition: 0.5s;
	margin-top: 3px;
}
.cddd1{
		color:#555;
		font-size: 14px;
}
.ccc1{
		width: 100%;
		color: #555;
		font-size: 15px;
		transition: 1s;
		
}
.ccc1:hover{
		width: 100%;
		color:#f75656;
		font-size: 15px;
		transition: 1s;
		
}
.dii{
	width: 94%;
	margin-top: 100px;
    border-bottom: 1px dashed #f1f1f1;
    margin-left: 3%;
}

/*main 23 e*/


/*main 2 s*/

.main11{
	height:870px;
	width:100%;
	background-image: url(images/footerbg.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.bss8{

    height:870px;
	width: 100%;
    background-image: linear-gradient(#161515b0, #000000e3);
}
.div52{
	height: 60px;
	width: 100%;

}
.div53{
	width: 240px;
	border-bottom: 1px solid #777;
}
.div54{
	height: 690px;
	width: 80%;
	margin-left: 10%;
}
.div55{
	height: 205px;
	width: 100%;
	margin-top: 2px;
}
.div56{
	height: 205px;
	width: 16%;
	background-image: url(images/footer2.jpg);
	background-size: cover;
	background-position: center;
	margin-left: 26px;
}
.div57{
	height: 205px;
	width: 16%;
	background-image: url(images/footer1.jpg);
	background-size: cover;
	background-position: center;
}
.div58{
	height: 205px;
	width: 16%;
	background-image: url(images/footer3.jpg);
	background-size: cover;
	background-position: center;
}
.div59{
	height: 205px;
	width: 16%;
	background-image: url(images/footer4.jpg);
	background-size: cover;
	background-position: center;
}
.div60{
	height: 205px;
	width: 16%;
	background-image: url(images/footer2.jpg);
	background-size: cover;
	background-position: center;
}
.div61{
	height: 205px;
	width: 16%;
	background-image: url(images/footer3.jpg);
	background-size: cover;
	background-position: center;
}
.div62{
	height: 350px;
	width: 100%;
	margin-top: 30px;
}
.div63{
	height: 320px;
	width: 31%;
	margin-left: 26px;
}
.div64{
	color:#c4c4c4;
	font-size: 18px;
}

.icon2{
	color: white;
	transition: 1s;
	margin-top: 134px;
	font-size: 18px;
}
.icon2:hover{
	color: #f75656;
	transition: 1s;
	margin-top: 134px;
	font-size: 18px;
}
.div65{
	height: 320px;
	width: 15%;
	margin-left: 14px;
}
.icon3{
	color: #c4c4c4;
	font-size: 18px;
	transition: 1s;
}
.icon3:hover{
	color: white;
	font-size: 18px;
	transition: 1s;
}
.div66{
	height: 320px;
	width: 15%;
	margin-left: 10px;
}
.div67{
	height: 320px;
	width: 33%;
	margin-left: 12px;
}
.box12{
	height: 32px;
	width: 11%;
	background-color: #ed3030;
}

.div68{
	width: 37%;
	
}
/*main 3 e*/